
@font-face{
    font-family: nyt-cheltenham;
    src:url(../fonts/cheltenham-cond-normal-300.ttf);
}


* {
    padding: 0px;
    margin: 0px;
}

#nav-bar {
    border-bottom: 1px solid #e2e2e2;
    padding-right: 15px;
}

.nav-bar-small-button {
    background-color: transparent;
    border: none;
    height: 30px;
    display: block;
    width: 30px;
    float: left;
}

.nav-bar-button {
    float: right;
    background-color: #6288a5;
    border: 1px solid #326891;
    border-radius: 4px;
    height: 32px;
    margin: 3px;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-size: 11px;
    font-weight: 700;
}

#nav-bar-text {
    display: block;
}

#nav-bar-text {
    float: left;
    padding-top: 5px;
}

#nav-bar img {
    display: block;
    position: absolute;
    right: 50%;
}

.clear {
    clear: both;
}

#side-bar{
    display: none;
    position: fixed;
    border-right: 1px solid #e2e2e2;
    top:0;
    padding : 10px;
    background: white;
    height: 100%;
}

#side-bar li {
    list-style-type: none;
    font-weight: 700;
    margin-bottom: 10px;
}
#side-bar li:hover {
    background: #ccffff;
    
}

#container-header{
    margin-top:30px;

}
#header-text{
    width:30%;
    font-size: 40px;
    margin:auto;    
    
    font-style: italic bold;
    font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
    
}

#container-header img{
    width:70%;
    margin:auto;
    display: block;
}

#container-header-footer{

   width: 70%;
   margin:auto;
   margin-top:20px;
}

#section-1{
    width:40%;
    margin:auto;
}

#author{
    margin-top:10px;
}


#social-container p{
    float:left;
}

#social-container{
    margin-top:20px;
}
.social-icon{
    height:20px;
    width:20px;
    float:right;
    padding:0 5px;
}
.article-text{
    margin-top: 20px;
}
.article-text p{
    margin-top: 10px;
    line-height: 25px;
    font-family:  nyt-imperial,georgia,'times new roman',times,serif;
    color: #333;;
    font-size: 20px;
    line-height: 25px;
    margin-top:20px;
    word-spacing: 8px;    
}
#unlock-article{
    margin:auto;
    text-align: center;
    font-weight: bold;
}
#unlock-article span{
    border-top: 1px solid black;
    display: block;
    width: 150px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

#section-2{
    margin: auto;
    width: 80%;
}
#section2-part1{
    background-image: url(../images/inflation.png);
    background-size: 945px 576px;
    background-repeat: no-repeat;
    width: 945px;
}
.section2-part1-element{
    width:25%;
    float: left;
    margin-top:150px;
    margin-bottom:0px;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
}
.bold{
    font-weight: bold;
}
#section2-part1-line{
    display: block;
    border-bottom: 1px solid black;
    width: 150px;
    margin-top:20px;
    margin-bottom:20px;
}
#section2-part1-author{
    color:#333;
}
#section-2-header h1{
    font-size:20px;
    
}
#section-2-header p{
    font-size:14px;
    color: #666;
    margin-top:15px; 
    margin-bottom:15px; 
    
}

#section-3{
    width:40%;
    margin:auto;
    margin-top:20px;

}


/* #section-3 p{
    font-family:  nyt-imperial,georgia,'times new roman',times,serif;
    color: #333;;
    font-size: 20px;
    line-height: 25px;
    margin-top:20px;
    word-spacing: 8px;
    
} */

/* #section3-video-title{
    font:10px;
    color: #666;
    font-size: 5px;
    line-height: 0;
    color:red;

}  */
#section3-video-container{
    margin:30px 0;
}
#section-3 h2{
    margin-top:15px;
}
#section-3-footer{
    margin-top:20px;
}
#section-3-footer div{
    margin-bottom:20px;
    font-size: 0.75rem;
    line-height: 1rem;
    color:#999;
}
#section-3-readmore-button{
    text-transform: uppercase;
    background-color:#6288a5; 
    color:white;
    width: 330px;
    height:36px;
    border:1px solid black;
    border-radius: 3px;
    font-size: 0.8125rem;
font-weight: 600;
}