
@font-face{
    font-family: nyt-cheltenham;
    src:url(../fonts/cheltenham-cond-normal-300.ttf);
}


* {
    padding: 0px;
    margin: 0px;
}

#nav-bar {
    border-bottom: 1px solid #e2e2e2;
    padding-right: 15px;
}

.nav-bar-small-button {
    background-color: transparent;
    border: none;
    height: 30px;
    display: block;
    width: 30px;
    float: left;
}

.nav-bar-button {
    float: right;
    background-color: #6288a5;
    border: 1px solid #326891;
    border-radius: 4px;
    height: 32px;
    margin: 3px;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-size: 11px;
    font-weight: 700;
}

#nav-bar-text {
    display: block;
}

#nav-bar-text {
    float: left;
    padding-top: 5px;
}

#nav-bar img {
    display: block;
    position: absolute;
    right: 50%;
}

.clear {
    clear: both;
}

#side-bar{
    display: none;
    position: fixed;
    border-right: 1px solid #e2e2e2;
    top:0;
    padding : 10px;
    background: white;
    height: 100%;
}

#side-bar li {
    list-style-type: none;
    font-weight: 700;
    margin-bottom: 10px;
}
#side-bar li:hover {
    background: #ccffff;
    
}

#container-header{
    margin-top:30px;

}
#header-text{
    width:30%;
    font-size: 40px;
    margin:auto;    
    
    font-style: italic bold;
    font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
    
}

#container-header img{
    width:70%;
    margin:auto;
    display: block;
}

#container-header-footer{

   width: 70%;
   margin:auto;
   margin-top:20px;
}

#section-1{
    width:40%;
    margin:auto;
}

#author{
    margin-top:10px;
}


#social-container p{
    float:left;
}

#social-container{
    margin-top:20px;
}
.social-icon{
    height:20px;
    width:20px;
    float:right;
    padding:0 5px;
}
.article-text{
    margin-top: 20px;
}
.article-text p{
    margin-top: 10px;
    line-height: 25px;
}
#unlock-article{
    margin:auto;
    text-align: center;
    font-weight: bold;
}
#unlock-article span{
    border-top: 1px solid black;
    display: block;
    width: 150px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

#{
    images/inflation.png
}